/* .header {
    margin-top: 60px;
} */

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

.headerTitle{
    position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    word-spacing: 8px;
    
}

.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 90px;
    color: rgb(255, 255, 255);
    text-shadow: black 8px 8px 8px;
    font-family: 'Lora', serif;
}

.headerImg{
    width: 100%;
    height: 75vh;
    /* margin-top: 80px; */
    object-fit: cover;
}